# Cliente seguro Senderman
SENDERMAN_CLIENT_PROTOCOL=ftps
SENDERMAN_CLIENT_HOST=
SENDERMAN_CLIENT_PORT=21
SENDERMAN_CLIENT_USER=

# Opcionales:
# SENDERMAN_CLIENT_VERIFY=yes
# SENDERMAN_CLIENT_CA_FILE=/ruta/a/ca.crt