[Desktop Entry]
Type=Application
Name=Senderman Shell
Comment=Abre el terminal de administración del servicio
Exec=/usr/bin/bash /home/mr-robot/ftp-admin/tools/shell.sh
TryExec=/usr/bin/bash
Icon=senderman-shell
Terminal=true
Categories=Network;System;Utility;
StartupNotify=true