[Desktop Entry]
Type=Application
Name=SFTP Monitor
Comment=Abre el panel web de administración
Exec=/usr/bin/bash /home/mr-robot/ftp-admin/tools/launcher.sh start
TryExec=/usr/bin/bash
Icon=senderman-ftp-admin
Terminal=false
Categories=Network;System;
StartupNotify=true