[Desktop Entry]
Type=Application
Name=Senderman Configuration
Comment=Abre el menú interactivo del instalador
Exec=/usr/bin/bash /home/mr-robot/ftp-admin/install.sh
TryExec=/usr/bin/bash
Icon=senderman-configuration
Terminal=true
Categories=Network;System;Utility;
StartupNotify=true